<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form class="form-group" [formGroup]="editForm">
          <label for="name">Name</label>
          <input type="text" name="name" class="form-control" [formControl]="name">
          <label for="description">Description</label>
          <input type="text" name="description" class="form-control" [formControl]="description">
          <label for="author">Author</label>
          <input type="text" name="author" class="form-control" [formControl]="author">
          <label for="url">Url</label>
          <input type="url" name="url" class="form-control" [formControl]="url">
          <label for="urlToImage">Url to image</label>
          <input type="url" name="urlToImage" class="form-control" [formControl]="urlToImage">
          <label for="publishedAt">Published At</label>
          <input type="date" name="publishedAt" class="form-control" [formControl]="publishedAt">
          <label for="content">Content</label>
          <textarea class="form-control noresize" rows="6" name="content" [formControl]="content"></textarea>
          <br>
          <button type="submit" class="btn btn-primary" (click)="onSubmit()"
            [disabled]="!editForm.valid">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>